# ==========================================
# REQUIREMENTS - NYC Traffic & Mobility
# ==========================================

# 1. Manipulación y Análisis de Datos
pandas
numpy
pyarrow

# 2. Extracción de Datos y APIs
requests
requests-cache
retry-requests
openmeteo-requests

# 3. Análisis Geoespacial y Mapas
geopandas
pyproj
folium
branca

# 4. Visualización de Datos
matplotlib
seaborn
plotly